*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #000000;
    color: #fff;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.logo{
    width: 120px;
   height: 100px;
   transform: translate(-20px,0px);
  
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(7, 163, 28);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;

}

.heading {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
transform: translate(50px,0px);
color: #000000;
border-radius: 10px;
}
.heading h1{
    transform: translate(30px,7.8px);
}


.jja {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
width: 750px;
height: 400px;
transform: translate(50px,50px);
color: #000000;
position: fixed;
border-radius: 15px;

}
.jja p{
    transform: translate(20px,-60px);
    font-size: large;
    font-weight: 250px;
}
.jja img{
    width: 150px;
    height: 150px;
    transform: translate(250px,-20px);
}
.jja h1{
    font-size: xx-large;
    transform: translate(190px,-80px);
}



/* CSS */
.button69 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
transform: translate(70px,380px);
 
}

.button69:focus {
  text-decoration: none;
}

.button69:hover {
  text-decoration: none;
}

.button69:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button69:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  
}

@media (min-width: 768px) {
  .button69 {
    padding: 12px 50px;
  }

}
